/* Styles to prevent Google layer from covering Carto results */
.leaflet-google-layer {
    z-index: 0 !important;
}

.leaflet-map-pane {
    z-index: 100;
}

/* Styles for info window. Class names can vary. */
.infoBox {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Styles for map div */
div#mapCanvas {
  height: 500px;
  width: 100%;
}

/* General Styling */

.navbar {
  font-family: 'Istok Web', sans-serif;
  color: #f7fff4;
}

.navbar-inverse {
  background-color: #3b961c;
  border-color: #3b961c;
}

.center{
    float:left;
    width: 80px;
    height: 100%;
    margin: 10px;
}

.navbar-inverse .navbar-brand {
  color: #f7fff4;
  margin: 27px;
  font-size: 28px;
  float: left;
}

.navbar-inverse .navbar-nav > li > a {
  color: #f7fff4;
  margin-top: 27px;
  font-size: 17px;
}

.container {
  font-family: 'Istok Web', sans-serif;
  color: black;
  font-size: 15px;
  background-color: #f2f2f2;

}

a { color: inherit !important; }

.panel-footer {
  background-color: #3b961c;
  border-color: #3b961c;
  margin-top: 20px;
  padding: 1px;
  font-family: 'Istok Web', sans-serif;
  font-size: 12px;
  color: #f7fff4;
  height: 200px;

}


