/* Styles to prevent Google layer from covering Carto results */
.leaflet-google-layer {
    z-index: 0 !important;
}

.leaflet-map-pane {
    z-index: 100;
}

/* Styles for info window. */
.infoBox {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif; /* Let's change this to a custom Google font.*/
    background: #fff;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Styles for map div */
div#mapCanvas {
  height: 500px;
  width: 100%;
}

/* General Styling */
.navbar {
    font-family: 'Istok Web', sans-serif;
}

.navbar-inverse {
  background-color: #3b961c; /* This background color is a little gross. I woner if you can find something to compliment the logo, not match it.*/
  border-color: #3b961c;
}


/* You do not need to "float" elements with bootstrap. Try putting the logo inside the navbar-brand class.*/
.center {
    float:left;
    width: 80px;
    height: 100%;
    margin: 10px;
}

.navbar-inverse .navbar-brand {
  color: #f7fff4; /* Repeated color attributes (see bleow): a good opportunity for a CSS variable! */
  margin: 27px; /* I think you can use percents for these margin measurements...there's certainly controversy about this: EM vs. Percent vs. Pixels. Generally, if I find myself putting something as exact as "27px", I assume something could go wrong, especially with responsive design. */
  font-size: 28px;
  float: left;
}

.navbar-inverse .navbar-nav > li > a {
  color: #f7fff4;
  margin-top: 27px;
  font-size: 17px;
}


