/* Styles to prevent Google layer from covering Carto results */
.leaflet-google-layer {
    z-index: 0 !important;
}

.leaflet-map-pane {
    z-index: 100;
}

/* Styles for info window. */
.infoBox {
    padding: 6px 8px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Styles for map div */
div#mapCanvas {
  height: 500px;
  width: 100%;
}

/* General Styling */
body {
  background-color: #e7e7e7;
}

a { 
  color: inherit !important;
}

iframe {
  width: 100%;
  height: 1950px;
}

:root {
  --text-color: #f7fff4;
  --green-color: #3B961C;
  --purple-color: #8A2B85;
}

.btn-primary {
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}

.btn-primary:hover {
  background-color: #A0499C;
  border-color: #A0499C;
}

.navbar {
  font-family: 'Istok Web', sans-serif;
  color: var(--text-color);
  background-color: var(--purple-color);
  border-color: var(--purple-color);
  line-height: 1em;
}

.navbar-inverse {
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}

.navbar-inverse .navbar-brand {
  color: var(--text-color);
  margin: 0.25em; 
  font-size: 1.8em;
  line-height: 0.9em;
}

.navbar-inverse .navbar-nav > li > a {
  color: var(--text-color);
  font-size: 1.25em;
  margin-top: 1em;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:visited {
  color: var(--text-color);
  background-color: #A0499C;
  border: 0px;
}

.container {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 15px;
  padding:25px;
}

.panel-footer {
  background-color: var(--purple-color);
  border-color: var(--purple-color);
  text-align: center;
  margin-top: 1em;
  font-family: 'Istok Web', sans-serif;
  font-size: 0.9em;
  color: var(--text-color);

}

