<!DOCTYPE html>
<html lang='en'>    

    <div class="modal fade" id="modal-pop" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true"></i></span></button>
            <h4 class="modal-title" id="modal-title"></h4>
          </div>

          <div class="modal-body">
            <div class="container-fluid bd-example-row">
              <div class="row">
                <div class="col-md-12 get-sm">
                  <h4 id="address-header"></h4>
                  <div id="address-subsection"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 get-sm">
                  <h4 id="owner-header"></h4>
                  <div id="owner-subsection"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h4 id="community-header"></h4>
                  <div id="community-subsection"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 get-sm">
                  <h4 id="production-header"></h4>
                  <div id="production-subsection"></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</html>